@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
.bannerTitle h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 3.6em;
    color:#1E3A8A;
    
}

.bannerTitle p{
    margin-bottom: -15px;
    font-size: 1.125em;
}

.contact-btn{
    background: rgb(30,58,138);
background: linear-gradient(333deg, rgba(30,58,138,1) 0%, rgba(30,64,175,1) 53%, rgba(37,99,235,1) 100%);
    width: 150px;
    padding:1em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.contact-btn:hover{
    font-weight: 900;
}
.about h1{
    color:#2563eb;
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

.about p{
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
    font-size: 1.25em;
    line-height: 1.5em;
    color: rgb(17, 17, 17);
}

.quote{
    text-align: center;
    color:#60a5fa;
    font-family: 'Source Sans Pro', sans-serif;
}

.services h1{
    color:#1E40AF;
    font-size: 2.5em;
    text-transform: uppercase;
}

.jobtitle{
    color:#1E40AF;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    margin:2em 0;
}

.section h1{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.section ul{
    padding:0 1em;
}

.boxtitle{
    color:#1E40AF;
    font-size: 2em;
    text-transform: uppercase;
}
.box h2{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.bottom .row{
   padding: 0 0.5em;
}

.bottom .row p{

    font-size: 2.7em;
    color:#1E3A8A ;
    margin-bottom: 0.5em;
}

.bottom .row span{
    color: #2563EB;
   font-weight: 600;
    font-size: 2.7em;
    
}

.apiform P{
    color: #1E3A8A;
    font-size: 3em;
}